---
- name: Desplegar Docker y MariaDB en Ubuntu
  hosts: aws
  become: yes
  vars:
    repo_github: "https://github.com/AliciaSP2004/Proyecto.git"
    directorio_repo: "/home/ubuntu"
    directorio_compose: "/home/ubuntu/Proyecto/IAW/docker"

  tasks:
    - name: Limpiar cache de APT y desbloquear dependencias
      shell: |
        apt-get clean
        apt-get autoclean
        apt-get autoremove -y
        apt-get update

    - name: Instalar Docker
      shell: |
        apt-get install -y docker.io

    - name: Instalar Docker Compose
      shell: |
        apt-get install -y docker-compose
      ignore_errors: yes

    - name: Descarga alternativa de Docker Compose si APT falla
      shell: |
        curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
        chmod +x /usr/local/bin/docker-compose
      when: ansible_distribution == "Ubuntu"
      ignore_errors: yes

    - name: Iniciar y habilitar Docker
      systemd:
        name: docker
        state: started
        enabled: yes
        daemon_reload: yes

    - name: Descargar repositorio de GitHub
      git:
        repo: "{{ repo_github }}"
        dest: "{{ directorio_repo }}/Proyecto"
        version: main
        force: yes

    - name: Ejecutar Docker Compose
      shell: docker-compose up -d
      args:
        chdir: "{{ directorio_compose }}"
      register: compose_result
      ignore_errors: yes

    - name: Mostrar resultado de Docker Compose
      debug:
        msg: "{{ compose_result.stdout_lines }}"
