---
- name: Desplegar Docker y MariaDB en Ubuntu
  hosts: aws
  become: yes
  vars:
    repo_github: "https://AsierRodriguezO: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@github.com/AliciaSP2004/Proyecto.git"
    directorio_repo: "/home/ubuntu"
    directorio_compose: "/home/ubuntu/Proyecto/IAW/docker"

  tasks:
    - name: Reparar dependencias rotas del sistema
      shell: |
        apt-get install -f -y --fix-broken
        apt-get autoclean -y
        apt-get clean -y
        apt-get update
      ignore_errors: yes

    - name: Instalar Docker desde repositorio oficial
      shell: |
        curl -fsSL https://get.docker.com -o get-docker.sh
        sh get-docker.sh
        rm -f get-docker.sh
      ignore_errors: yes

    - name: Descargar Docker Compose desde GitHub
      shell: |
        curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
        chmod +x /usr/local/bin/docker-compose
        docker-compose --version
      ignore_errors: yes

    - name: Iniciar Docker
      systemd:
        name: docker
        state: started
        enabled: yes
        daemon_reload: yes
      ignore_errors: yes

    - name: Descargar repositorio de GitHub
      git:
        repo: "{{ repo_github }}"
        dest: "{{ directorio_repo }}/Proyecto"
        version: main
        force: yes
      ignore_errors: yes

    - name: Ejecutar Docker Compose
      shell: docker-compose up -d
      args:
        chdir: "{{ directorio_compose }}"
      register: compose_result
      ignore_errors: yes

    - name: Mostrar resultado de Docker Compose
      debug:
        msg: "{{ compose_result.stdout_lines }}"
